html, body {
  font-family: 'Inconsolata', monospace;
  color: rgb(34, 34, 34);
  background-color: rgb(210, 201, 191);
}

#header-container {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(34, 34, 34);
  font-size: 3em;
  margin: auto;
  max-width: fit-content;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
}

.clocks-container {
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr;
  row-gap: 3em;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  margin: auto;
  max-width: fit-content;
}

#stn-clock, #dec-clock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-content: stretch;
  justify-items: center;
  align-items: end;
  font-size: 3em;
  color: rgb(34, 34, 34);
}

.time {
  grid-column: 1 / span 2;
  color: rgb(34, 34, 34);
  font-size: 3em;
}

#dec-time {
  color: rgb(0,0,140);
}

#stn-label, #dec-label {
  font-size: 0.8em;
  line-height: 0.8em;
  grid-column: 1 / 1;
  justify-self: start;
  align-self: end;
}

#dec-label {
  font-size: 0.8em;
  line-height: 0.8em;
  grid-column: 1 / 1;
  justify-self: end;
  align-self: end;
  color: rgb(0,0,140);
}

#divider {
  font-size: 3em;
  color: rgb(34, 34, 34);
  margin: auto;
}




@media (max-width: 1000px) {
  #header-container {
    font-size: 2.2em;
  }
  #stn-time, #dec-time {
    font-size: 2.2em;
  }
  #stn-label, #dec-label {
    font-size: 0.8em;
  }
  .divider {
    font-size: 2.2em;
  }
}

@media (max-width: 800px) {
  #header-container {
    font-size: 2em;
  }
  #stn-time, #dec-time {
    font-size: 2em;
  }
  #stn-label, #dec-label {
    font-size: 0.7em;
  }
  .divider {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  #header-container {
    font-size: 1.8em;
  }
  #stn-time, #dec-time {
    font-size: 1.8em;
  }
  #stn-label, #dec-label {
    font-size: 0.7em;
  }
  .divider {
    font-size: 1.8em;
  }
}

@media (max-width: 400px) {
  #header-container {
    font-size: 1.7em;
  }
  #stn-time, #dec-time {
    font-size: 1.6em;
  }
  #stn-label, #dec-label {
    font-size: 0.5em;
  }
  .divider {
    font-size: 1.6em;
  }
}