html, body {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  color: rgb(40, 40, 40);
  background-color: rgb(200, 190, 180);
}

#header-container {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.8rem;
  margin: auto;
  max-width: max-content;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

#dec-title-symbol {
  color: rgb(0, 0, 140);
}

#content-container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-width: max-content;
  place-content: center space-between;
}

.clock {
  font-size: 5rem;
  padding: 0px;
}
#stn-clock {
  text-align: start;
}
#dec-clock {
  text-align: start;
  color: rgb(0, 0, 140);
}

.label {
  font-size: 1.2rem;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
#stn-label {
  place-self: end;
}
#dec-label {
  place-self: start;
  color: rgb(0, 0, 140);
}

.btn-container {
  display: grid;
}
#stn-btns {
  grid-template-columns: auto auto auto 1fr;
  place-self: end center;
  width: 100%;
}
#dec-btns {
  grid-template-columns: auto auto auto auto;
  place-self: start center;
}

.rep-btn {
  grid-row: 1 / 1;
  font-family: inherit;
  font-size: 1rem;
  place-self: center end;
  background-color: transparent;
  border: none;
  color: rgb(40, 40, 40);
}
.rep-btn:hover {
  color: rgb(0, 0, 140);
}

#twofour-hr-btn {
  grid-column: 2 / 2;
}
#twelve-hr-btn {
  grid-column: 3 / 3;
}
#am-pm {
  grid-column: 4 / 4;
  font-size: 1rem;
  place-self: end;
  visibility: hidden;
}

#dec-btn {
  grid-column: 2 / 2;
}
#frac-btn {
  grid-column: 3 / 3;
}
#perc-btn {
  grid-column: 4 / 4;
}

#divider {
  font-size: 1.5rem;
  margin: auto;
  place-self: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#links-container {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  margin: auto;
  max-width: max-content;
  padding-top: 3rem;
}

a {
  font-style: normal;
  text-align: center;
  color:rgb(40, 40, 40);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 140);
}
a:visited {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

@media (max-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
